.btn-secondary {
    background-color: #fff;
    color: rgba(100,180,240,1.0);
    border: none;
}

.btn-secondary:hover, .btn-secondary:focus {
    background-color: rgba(100,180,240,1.0);
    color: #fff;
    border: none;
}